.gradient-custom-3 {
  /* fallback for old browsers */
  background: #2a2a2a; /* Dark gray fallback */
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(40, 40, 40, 0.7), rgba(30, 30, 30, 0.7)); 
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(40, 40, 40, 0.7), rgba(30, 30, 30, 0.7)); 
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #2a2a2a; /* Dark gray fallback */
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(20, 20, 20, 1), rgba(30, 30, 30, 1)); 
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(20, 20, 20, 1), rgba(30, 30, 30, 1)); 
}
